:host {
  margin: 0 8px;
  display: block;
}
.blur {
  opacity: 1;
  z-index: 2;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.clear {
  opacity: 0;
  z-index: -1;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.item {
  margin-bottom: 10px;
}

.items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 32px;
}

@media (max-width: 900px) {
  .items {
    grid-template-columns: repeat(1, 1fr);
  }
}
